<!-- <h1 style="color: aquamarine;">Directives</h1> -->

<!-- <h1 [ngStyle]="{'color': uname=='Anjali'? 'yellow':'red'}"> ngStyle</h1>

<div [ngStyle]="{'background-color':'aquamarine'}">background color</div> -->

<!-- {{uname}} -->

<!-- {{uage}} -->

<!-- <h2 [ngStyle]="{'color': uage>=18 ? 'green':'red'}">hello,{{uname}}. you cannot vote</h2> -->

<!-- {{student}} -->

<!-- @for(s of student; track s.id){
    <h3 [ngStyle]="{'color': s.loc=='Ald'?'green':'red'}">{{s.id}} - {{s.name}} - {{s.loc}} - {{s.laptop}}</h3>
    <h3 [ngStyle]="{'color': anjali(s.laptop)}">{{s.id}} - {{s.name}} - {{s.loc}} - {{s.laptop}}</h3>
} -->



<h1 class="a">Directives</h1>
<p class="b a">Welcome To Allahabad</p>

<p [ngClass]="'a b'">ng class being used - as sting</p>

<p [ngClass]="['a b c']">ng class being used - as array</p>

<p [ngClass]="{a:false,b:true}">ng class being used - as object</p>

<p [ngClass]="{'a': uage>= 18}">ng class being used </p>